node_modules
dist
build
.specify
.cursor
pnpm-lock.yaml
handoffs
specs
.pnpm-store
.astro
.env*
*.tsbuildinfo
coverage
.nyc_output
.next
.nuxt
build/Release
*.tgz
.cache
.npm
.eslintcache.agents/
.agents/
.opencode/
