@use 'uswds-core' as uswds;

// Brand Color Tokens
$pathable-blue: uswds.color('blue-warm-80v');
$intelligent-jade: uswds.color('mint-cool-30v');
$bright-blue-brooks: uswds.color('blue-30v');
$tech-teal: uswds.color('cyan-60v');
$lived-in-lime: uswds.color('green-warm-10v');
$shilling-silver: uswds.color('gray-cool-10');

$brand-colors: (
  'pathable-blue': uswds.color('blue-warm-80v'),
  'intelligent-jade': uswds.color('mint-cool-30v'),
  'bright-blue-brooks': uswds.color('blue-30v'),
  'tech-teal': uswds.color('cyan-60v'),
  'lived-in-lime': uswds.color('green-warm-10v'),
  'shilling-silver': uswds.color('gray-cool-10'),
);

:root {
  --pathable-blue: #{$pathable-blue};
  --intelligent-jade: #{$intelligent-jade};
  --bright-blue-brooks: #{$bright-blue-brooks};
  --tech-teal: #{$tech-teal};
  --lived-in-lime: #{$lived-in-lime};
  --shilling-silver: #{$shilling-silver};
}
